/POOE/nbproject/private/
/LibroAPP/nbproject/private/
/LibroAPP/build/
/CircunferenciAPP/nbproject/private/
/CircunferenciAPP/build/
/OperacionAPP/nbproject/private/
/OperacionAPP/build/
/RectanguloAPP/nbproject/private/
/RectanguloAPP/build/
/CuentaAPP/nbproject/private/
/PersonaAPP/nbproject/private/
/PersonaAPP/build/
/CuentaAPP/build/
/CadenAPP/nbproject/private/
/CadenAPP/build/